.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.box {
  padding: 2rem;
  border-style: solid;
  border-width: 1px;
  border-color: var(--text-color);
  margin-block: 1rem;
  box-shadow: inset 0px 0px 24px 0px rgb(37, 37, 37);
  border-radius: 5px;
  width: fit-content;
  display: flex;
  align-items: flex-start;
}
