input[type="text"] {
  background-color: rgb(63, 63, 63);
  color: white;
  padding: 0.4rem;
  border: 1px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  outline: none;
  transition: 0.2s;
}

/* input[type="text"]:focus {
  border: 1px solid #555;
} */

.guessDiv {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.guessDiv button {
  border: 1px solid black;
  background-color: #3965b3;
  color: white;
  padding: 0.2rem;
  cursor: pointer;
}

.guessDiv button:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.guessDiv button:hover {
  background-color: #6186c7;
}

button:disabled {
  background-color: #1f304e;
}
